.aboutContainer {
  height: 100%;
  width: 70vw;
  margin: 10rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; 
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.footer {
  text-decoration: none;
  color: #2e3032;
}

.footer:hover {
  font-weight: bold;
}