.wrapper {
  display: flex;
  height: 80vh;
  width: 95vw;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.aboutContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  overflow: hidden;
  text-align: end;
}

.aboutButton {
  text-transform: uppercase;
  margin: .8rem 2.2rem .8rem 0;
  cursor: pointer;
  font-size: smaller;
  font-weight: bold;
  border: none;
  text-align: end;
  background-color: transparent;
    position: absolute;
}
