.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logoContainer {
  flex: 0 0 20%;
  max-width: 250px;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.aboutContainer {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  width: 100%;
  overflow: hidden;
  text-align: end;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.aboutButton {
  text-transform: uppercase;
  margin: 0.8rem 2.2rem 0.8rem 0;
  cursor: pointer;
  font-size: smaller;
  font-weight: bold;
  border: none;
  text-align: end;
  background-color: transparent;
}
