.wrapper {
  display: flex;
  height: 80vh;
  width: 95vw;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logoContainer {
  flex: 0 0 20%;
  max-width: 250px;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.aboutContainer {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  width: 100%;
  overflow: hidden;
  text-align: end;
}

.aboutButton {
  text-transform: uppercase;
  margin: .8rem 2.2rem .8rem 0;
  cursor: pointer;
  font-size: smaller;
  font-weight: bold;
  border: none;
  text-align: end;
  background-color: transparent;
}

.collapseButton {
  display: none;
}

.searchBar {
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: #fff;
  width: 100%;
  height: 2.7rem;
  border-radius: 0.8rem;
  background-repeat: no-repeat;
  background-position: 0.5rem center;
  background-size: 1rem;
  color: #2e3032;
}

.searchBar input {
  border: none;
  outline: none;
}

.searchBar input:focus {
  border: none;
  outline: none;
}

.input {
  transition: none;
  outline: none;
  border-color: transparent;
}

.input:focus-within {
  outline: none;
  border-color: transparent;
}

.searchBar:focus {
  outline: none;
  border: none;
  border: 2px solid #c3dddd;
}

.searchBar:hover {
  border: 2px solid #c3dddd;
  cursor: pointer;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}

/* filter */
.box {
  flex: 0 0 20%;
  border-radius: 0.8rem;
  max-width: 250px;
}

.filterbox {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 0.8rem;
  margin: 1rem 0;
  box-shadow: 0 .4rem .8rem rgba(158, 158, 158, 0.333);
}

.title {
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 0.8em;
}

.checkbox {
  background-color: transparent;
  border: 1px solid #d5d1de;
  cursor: pointer;
}

.checkbox:hover {
  border: 1px solid #1E90FF;
}

.filterOption {
  padding-bottom: 0.5rem;
}

.pillContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}

/* Main */
.container {
  flex: 1 0 80%;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 0.8rem;
  margin-right: 5px;
  max-height: 78vh;
  overflow-y: auto;
}

.table_body {
  width: 95%;
  max-height: calc(89% - .8rem);
  margin: 0 auto .8rem auto;
  border-radius: .6rem;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 0 .4rem .8rem rgba(158, 158, 158, 0.333);;
  display: block;
  position: relative;
}

.table_body::-webkit-scrollbar {
  width: 13px;
  border-radius: 10px;
}

.table_body::-webkit-scrollbar-thumb {
  background: #c3ddddb6;
  border-radius: 10px;
}

.table_body::-webkit-scrollbar-thumb:hover {
  background-color: #0004;
  visibility: visible;
}

.table_body::-webkit-scrollbarx {
  width: 0.5rem;
  height: 0.5rem;
}

.table_body tr:nth-child(even) {
  background-color: #0000000b;
}

.iconPadding {
  padding-top: 5px;
}

.statusApproved {
  background-color: #e9f5ff;
  color: #070B1B;
  padding: .3rem .3rem;
  border-radius: .4rem;
  font-size: 0.8em;
  font-weight: bold;
}

.statusReleased {
  background-color: #cdffe0;
  color: #070B1B;
  padding: .3rem .3rem;
  border-radius: .4rem;
  font-size: 0.8em;
  font-weight: bold;
}

.statusTesting {
  background-color: #fffedc;
  color: #070B1B;
  padding: .3rem .3rem;
  border-radius: .4rem;
  font-size: 0.8em;
  font-weight: bold;
}

.statusPending {
  background-color: #eddbfa;
  color: #070B1B;
  padding: .3rem .3rem;
  border-radius: .4rem;
  font-size: 0.8em;
  font-weight: bold;
}

@media(max-width: 36em) {
  body {
    overflow: hidden;
  }
  .collapseButton {
    display: block;
  }
  .box {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 90%;
    max-width: none;
    left: 50vw;
    transform: translate(-50%, 5%);
    z-index: 99;
    display: block;
    box-shadow: -1em 0 .4em rgba(158, 158, 158, 0.333), 1em 0 .4em rgba(158, 158, 158, 0.333);
  }
  .box.open {
    transform: translateY(0);
  }
  .searchBar {
    order: 1;
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .searchBar:active {
  border: none;
  }
  .searchBar:focus {
  border: none;
  }
  .searchBar:hover {
  border: none;
  }
  .filterbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    order: 2;
    margin: 0;
    background-color: #fff; 
    border-radius: 0;
  }
  .table_body {
    max-width: 360px;
    background-color: transparent;
    max-height: 95%;
  }
  .table_body tr {
    margin-bottom: 12px;
    border-radius: .5rem;
    box-shadow: 0 .4rem .8rem rgba(158, 158, 158, 0.333);
    background-color: #fff;
  }
  .table_body tr:hover {
    color:#2e3032;
  }
  .table_body tr:nth-child(even) {
    background-color: #c3dddd;
  }
  .table_body tr:nth-child(even):hover {
  background-color: #c2d6d6;
  }
  .table_body::-webkit-scrollbar-thumb {
    background: #c3dddd;
  }
  .table_body::-webkit-scrollbar-thumb:hover {
    background-color: #c2d6d6;
  }
  .pillContainer {
    display: none;
  }
}

@media(max-width: 794px) {
  .iconPadding {
    display: none;
  }
}