.wrapper {
  display: flex;
  height: 80vh;
  width: 95vw;
}

.collapseButton {
  display: none;
  background-color:#abc1c1;
}

.collapseButton:hover {
  background-color:#c3dddd;
}

.searchBar {
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: #fff;
  width: 100%;
  height: 2.7rem;
  border-radius: 0.8rem;
  background-repeat: no-repeat;
  background-position: 0.5rem center;
  background-size: 1rem;
  color: #2e3032;
}

.searchBar input {
  border: none;
  outline: none;
}

.searchBar input:focus {
  border: none;
  outline: none;
}

.input {
  transition: none;
  outline: none;
  border-color: transparent;
}

.input:focus-within {
  outline: none;
  border-color: transparent;
}

.searchBar:focus {
  outline: none;
  border: none;
  border: 2px solid #c3dddd;
}

.searchBar:hover {
  border: 2px solid #c3dddd;
  cursor: pointer;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}

.box {
  flex: 0 0 20%;
  border-radius: 0.8rem;
  max-width: 250px;
  margin-top:40px;
}

/* Main */
.container {
  flex: 1 0 80%;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 0.8rem;
  margin-right: 5px;
  max-height: 78vh;
  overflow-y: auto;
}

@media (max-width: 36em) {
  .collapseButton {
    display: block;
  }
  .box {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 90%;
    max-width: none;
    left: 50vw;
    transform: translate(-50%, 5%);
    z-index: 99;
    display: block;
    box-shadow: -1em 0 0.4em rgba(158, 158, 158, 0.333),
      1em 0 0.4em rgba(158, 158, 158, 0.333);
      background-color: #fff;
  }
  .box.open {
    transform: translateY(0);
  }
  .searchBar {
    order: 1;
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .searchBar:active {
    border: none;
  }
  .searchBar:focus {
    border: none;
  }
  .searchBar:hover {
    border: none;
  }

  .table_body {
    max-width: 360px;
    background-color: transparent;
    max-height: 95%;
  }
  .table_body tr {
    margin-bottom: 12px;
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem 0.8rem rgba(158, 158, 158, 0.333);
    background-color: #fff;
  }
  .table_body tr:hover {
    color: #2e3032;
  }
  .table_body tr:nth-child(even) {
    background-color: #c3dddd;
  }
  .table_body tr:nth-child(even):hover {
    background-color: #c2d6d6;
  }
  .table_body::-webkit-scrollbar-thumb {
    background: #c3dddd;
  }
  .table_body::-webkit-scrollbar-thumb:hover {
    background-color: #c2d6d6;
  }
  .pillContainer {
    display: none;
  }
}
