
.filterbox {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.8rem;
  margin: 1rem 0;
}

.filterOption {
  padding-bottom: 0.5rem;
}

.checkbox {
  background-color: transparent;
  border: 1px solid #d5d1de;
  cursor: pointer;
}

.checkbox:hover {
  border: 1px solid #1e90ff;
}

.box {
  flex: 0 0 20%;
  border-radius: 0.8rem;
  max-width: 250px;
}

.title {
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 0.8em;
}

@media (max-width: 36em) {
  .filterbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2;
    margin: 0;
    background-color: #fff;
    border-radius: 0;
  }
}